{% extends "baseweb.html" %}
{% block h1_header %}
Aerosoles Ambientales
{% endblock h1_header %}
{% block producto_1%}
{% comment %} <a class="btn btn-warning rounded-pill px-3 mb-2 mb-lg-0" href={%url 'aerosoles' %}>AEROSOLES</a> {% endcomment %}
{% endblock producto_1%}
{% block contenido %}
<a href={%url 'crear_fragancia_aerosol' %}>Agregar fragancia</a>
<h1>Listado de Fragancias</h1>
{% if aerosoles %}
    <ul>
        {% for aerosol in aerosoles %}
            <li>{{ aerosol }}
                <a href={% url "eliminar_aerosol" aerosol.id %} >Eliminar</a> |
                <a href={% url "editar_aerosol" aerosol.pk %} >Editar</a> |
                <a href={% url "ver_aerosol" aerosol.id %} >Ver detalle</a> 
            </li>
        {% endfor %}
    </ul>
{% else %}
<p> No existen fragancias creadas hasta el momento</p>
{% endif %}
{% endblock %}