{% extends "baseweb.html" %}
{% block h1_header %} 
ACERCA DE MI
{%endblock h1_header %}
{% block producto_1%}
{% comment %} <a class="btn btn-warning rounded-pill px-3 mb-2 mb-lg-0" href={%url 'aerosoles' %}>AEROSOLES</a> {% endcomment %}
{% endblock producto_1%}
{% block producto_2%}
{% comment %} <a class="btn btn-warning rounded-pill px-3 mb-2 mb-lg-0" href={%url 'aerosoles' %}>AEROSOLES</a> {% endcomment %}
{% endblock producto_2%} 
{%block acerca%}
<section class="bg-light">
    <div class="container px-5">
        <div class="row gx-0 align-items-center">
            <div class="col-12 col-lg-5">
                <h2 class="display-4 lh-1 mb-4">Mi Historia</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">Mi nombre es Nicolás Vilgré La Madrid, tengo 31 años y vivo en Flores, CABA.
                    Soy dueño de una empresa llamada ND Aromas (N de nicolás y D de diego, mi segundo nombre), en donde nos dedicamos a distribuir 
                    productos ambientales de Saphirus (como marca principal) y también de Iluminarte y Sagrada Madre. Trabajo con un sistema online de compras
                    que fuimos armando durante 11 años junto a mi programador, yo pasandole las ideas y él ejecutandolo. La web es www.ventas.ndaromas.com.ar y está diseñada en HTML.
                    Terminé el secundario a los 21 años y luego me recibí de Periodista Deportivo. Después estudié dos años en la UADE para administrador de empresas para luego cambiarme a 
                    Analista de sistemas que estuve cursando durante 1 año y medio, donde aprendí Python, por eso comencé en el mundo de los cursos con este lenguaje. 
                    Me interesa mucho aprender de todo lo que pueda llegar a abarcar el mundo de la programación.
                </p>
            </div>
        </div>
    </div>
</section>
{%endblock acerca%}